.row.mb-3
    .col-12
        .btn-group.d-flex.flex-wrap.gap-3
            a.btn.btn-primary(href="/users/not-friend") 
                i.fas.fa-users.me-2
                | Danh sách người dùng
            a.btn.btn-success(href="/users/friends") 
                i.fas.fa-user-friends.me-2
                | Danh sách bạn bè
            a.btn.btn-warning(href="/users/request") 
                i.fas.fa-paper-plane.me-2
                | Lời mời đã gửi
            a.btn.btn-danger.position-relative(href="/users/accept") 
                i.fas.fa-user-plus.me-2
                | Lời mời kết bạn
                span(
                    class="badge bg-warning text-dark rounded-pill position-absolute top-0 start-100 translate-middle badge-users-accept"
                    badge-users-accept=user.id
                ) #{user.acceptFriends.length}