/* TABLE FUCTION*/

/* Phần Restore */
.btn-primary {
    background-color: #007bff;
    /* Màu nền ban đầu */
    color: #ffffff;
    /* Màu chữ */
    border: none;
    /* Bỏ viền */
    padding: 12px 24px;
    /* Khoảng cách bên trong */
    font-size: 1.2rem;
    /* Kích thước chữ */
    text-align: center;
    /* Căn giữa chữ */
    border-radius: 5px;
    /* Bo góc */
    transition: background-color 0.3s, transform 0.2s;
    /* Hiệu ứng chuyển màu và co giãn */
}

.btn-primary:hover {
    background-color: #0056b3;
    /* Màu nền khi hover */
    transform: scale(1.05);
    /* Phóng to nhẹ khi hover */
}

.btn-danger {
    background-color: #CA0000;
    /* Màu nền ban đầu */
    color: #ffffff;
    /* Màu chữ */
    border: none;
    /* Bỏ viền */
    padding: 12px 24px;
    /* Khoảng cách bên trong */
    font-size: 1.2rem;
    /* Kích thước chữ */
    text-align: center;
    /* Căn giữa chữ */
    border-radius: 5px;
    /* Bo góc */
    transition: background-color 0.3s, transform 0.2s;
    /* Hiệu ứng chuyển màu và co giãn */
}

.btn-danger:hover {
    background-color: #890000;
    /* Màu nền khi hover */
    transform: scale(1.05);
    /* Phóng to nhẹ khi hover */
}

.text-center p {
    font-size: 1.1rem;
    /* Kích thước chữ cho đoạn văn bản */
    margin-bottom: 1rem;
    /* Khoảng cách dưới đoạn văn bản */
}

.text-center h4 {
    margin-bottom: 1rem;
    /* Khoảng cách dưới tiêu đề */
}

.mt-5 {
    margin-top: 5rem;
    /* Khoảng cách trên cho phần không có sản phẩm */
}

/* Phần Restore */

