/* Header */
.header {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.header .inner-logo img{
    max-height: 100px;
    max-width: 100%;
}

/* Chọn tất cả các phần tử ul là con trực tiếp của phần tử có class là inner-menu. */
.header .inner-menu > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

/* > ul: Chọn tất cả các phần tử ul là con trực tiếp của phần tử có class inner-menu.
> li: Chọn tất cả các phần tử li là con trực tiếp của phần tử ul. */
.header .inner-menu > ul > li{
    margin-left: 20px;
}

/* End Header */

/* Footer  */
.footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* box-head */
.box-head {
    margin-bottom: 34px;
}

.box-head .inner-title {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 600;
    color: green;
}
/* End box-head */

/* Sản Phẩm */
.product-item {
    border: 2px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.product-item .inner-image {
    width: 100%;
    aspect-ratio: 4/3;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.product-item .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-item .inner-feautured{
    position: absolute;
    top: 0;
    right: 0;
    background: green;
    color: white;
    padding: 3px 6px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 8px;
}


.product-item .inner-content {
    padding: 15px;
}

.product-item .inner-content .inner-title {
    font-size: 24px;
    font-weight: 600;
}

.product-item .inner-content .inner-price-new {
    font-size: 18px;
    font-weight: 600;
    color: green;
}

.product-item .inner-content .inner-price-old {
    font-size: 18px;
    font-weight: 600;
    color: red;
    text-decoration: line-through;
}

.product-item .inner-content .inner-discount {
    font-size: 14px;
    font-weight: 600;
    color: white;
    background: red;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 8px;
}
/* End Sản Phẩm */


/* Trang Tạo mới sản phẩm */

a {
    text-decoration: none; /* Xóa gạch chân cho toàn bộ liên kết */
  }
  
a:hover {
text-decoration: underline; /* Thêm hiệu ứng gạch chân khi di chuột */
}

/* Sub-menu */
.sub-menu {
    position: relative;
    z-index: 999;
}

.sub-menu ul {
    position: absolute;
    right: 0;
    top: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #eeeecc;
    display: none;
    border: 1px solid #ddd;
    min-width: 180px
}

.sub-menu ul li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    font-size: 20px;
}


.sub-menu:hover > ul {
    display: block;
}

.sub-menu ul li:hover {
    background: #b8a969; /* Đổi màu khi hover vào từng mục */
}

.sub-menu ul li {
    position: relative;
}

.sub-menu ul li ul {
    right: 100%;
    top: 0;
}

.sub-menu ul li:hover > ul {
    display: block;
}


/* Phần thông báo */
[show-alert] {
    position: fixed;
    top: -100px;
    right: 15px;
    z-index: 999;
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
}

[show-alert].alert-visible {
    top: 70px;
    opacity: 1;
    animation: slide-down 0.5s ease-in-out forwards;
}

[show-alert].alert-hidden {
    top: -100px;
    opacity: 0;
    animation: slide-up 0.5s ease-in-out forwards;
}

@keyframes slide-down {
    from {
        top: -100px;
        opacity: 0;
    }

    to {
        top: 70px;
        opacity: 1;
    }
}

@keyframes slide-up {
    from {
        top: 70px;
        opacity: 1;
    }

    to {
        top: -100px;
        opacity: 0;
    }
}

[show-alert] [close-alert] {
    background: #fff;
    color: #000;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
    transition: background 0.3s ease, color 0.3s ease;
}

[show-alert] [close-alert]:hover {
    background: #f00;
    color: #fff;
}