mixin formatDayTime(time)
   span #{dayjs((time)).format('DD-MM-YYYY')}

mixin formatDayTimeString(time)
   span #{dayjs(time).format('DD-MM-YYYY')}

mixin formatHourTime(time)
   span #{dayjs((time)).format('HH:mm:ss')}

mixin formatHourTimeString(time)
   span #{dayjs(time).format('HH:mm:ss')}
