extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-grid.pug
include ../../../admin/mixins/alert.pug

block main
  .chat-container
    include ../../partials/list-btn-users.pug

    .container.my-5
      .row.justify-content-center
        .col-md-6.p-3(style="width: 80%;")
          h4.text-center.mb-4 Chọn bạn bè để tạo nhóm

          form(action="/chat/create" method="POST")
            // Ô nhập tiêu đề phòng
            .mb-3
              label.form-label(for="roomTitle") Tiêu đề phòng
              input#roomTitle.form-control.p-2(type="text" name="roomTitle" placeholder="Nhập tên phòng chat..." required)

            // Nút Submit ở trên đầu
            .d-flex.justify-content-end.mb-3
              button.btn.btn-primary.px-4.py-2(type="submit") Tạo nhóm

            // Thanh tìm kiếm bạn bè
            .input-group.mb-3.p-2.border.rounded
              input#searchFriends.form-control.p-2(type="text" placeholder="Tìm kiếm bạn bè...")
              span.input-group-text.bg-light.px-3
                i.fas.fa-search.text-muted

            // Danh sách bạn bè theo chiều dọc
            .list-group.p-3.border.rounded.shadow-sm.bg-white
              if friendList
                each friend in friendList
                  .list-group-item.d-flex.align-items-center.p-3.mb-2.rounded.shadow-sm
                    // Checkbox
                    .form-check.me-3
                      input.form-check-input(type="checkbox" name="friends_ID" value=friend._id)
                    
                    // Avatar + Thông tin bạn bè
                    img.rounded-circle.border(src=friend.avatar width="50" height="50")
                    .ms-3
                      strong.d-block= friend.fullName
                      small.text-muted Thành viên
