extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../../admin/mixins/alert.pug

block main
    .container.my-3 
        include ../../partials/list-btn-users.pug

        .row.mb-3
            .col-12
                +box-head("Lời mời kết bạn")
